.pageTitle {
  border-radius: 5rem;
  color: #fff;
  font-family: Montserrat,sans-serif;
  font-size: 3rem;
  grid-column: 1/-1;
  justify-self: center;
  padding: 0.4rem;
  text-transform: uppercase;
}
.App {
  background-color: #39445a;
  color: #fff;
  min-height: 100vh;
  padding-bottom: 9rem;
  padding-top: 12rem;
}
